@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: rgb(189, 160, 216);
  margin-top: 4rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: "Fira Sans", sans-serif;
  overflow-wrap: normal;
  padding: 1rem 5rem ;
}
.head {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 1px 1px #090202;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 3rem;
}
/* .add-task {
    display: flex;
    background-color:  rgb(180, 57, 211);
    padding: .8rem 2rem;
    border-radius: 5px;
} */
.new-plans,
.add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

#new-task-submit {
  color: rgb(95, 0, 95);
  font-weight: 700;
  font-size: 1rem;
  background-color: aliceblue;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #8a009c7a;
}
#new-task-submit:hover {
  color: rgb(222, 43, 168);
  background-color: rgb(5, 0, 3);
}
#new-task {
  background-color: rgb(180, 57, 211);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #fffbff58;
}
::placeholder {
  color: rgba(255, 255, 255, 0.584);
  font-size: 1rem;
}
input,
button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
.text {
  width: 220px;
  height: 30px;
  overflow-wrap: break-word;
  border-radius: 5px;
  background-color: rgba(180, 57, 211, 0.402);
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
   
  padding: .5rem;
  text-align: center;
}

.delete {
  margin-left: 0.2rem;
  font-weight: 600;
  color: rgb(255, 0, 0);
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.696);
  box-shadow: 2px 2px 3px #8a009c7a;
}
.delete:hover {
  color: rgb(245, 0, 0);
  background-color: rgb(5, 0, 3);
  
}
.edit {
  font-size: .8rem;
  color: rgba(85, 2, 104, 0.998);
  font-weight: 600;
  margin-left: 0.8rem;
  width: 55px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px #8a009c7a;
}
.edit:hover {
  color: rgb(222, 43, 168);
  background-color: rgb(5, 0, 3);
}

.done {
  text-decoration: line-through;
  color: #0902027d;
}
.edit-delete {
  display: flex;
}
@media (min-width: 600px) {
.text {
  width: 500px;
  height: 30px;
  overflow-y: scroll;
}
}